* {
    margin: 0%;
    padding: 0%;
}

#webcontainer {
    width: 1440px;
    height: 4937px;
    /* position: absolute; */
    top: -2469px;
    left: -720px;
    border-radius: 30px;
    margin: auto;
}

#coverimgcontainer {
    width: 1440px;
    height: 630px;
    /* background-image: linear-gradient(180deg, rgba(217, 217, 217, 0.51) 0%, rgba(66, 66, 66, 0.4845) 53.12%, rgba(0, 0, 0, 0.4335) 100%); */
}

#coverphoto {
    width: 1440px;
    height: 630px;
    background-image: linear-gradient(180deg, rgba(217, 217, 217, 0.51) 0%, rgba(66, 66, 66, 0.4845) 53.12%, rgba(0, 0, 0, 0.4335) 100%);
}

#logocont {
    width: 139px;
    height: 64px;
    position: absolute;
    top: 14px;
    left: 150px;
}

#logo {
    width: 139px;
    height: 64px;
}

#options {
    width: Hug (376px);
    height: Hug (17px);
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 34px;
    position: absolute;
    top: 38px;
    left: 940px;
    /* border: 1px solid red; */
}

#register {
    width: 179px;
    height: 17px;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    /* border: 1px solid red; */
}

#Help {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    width: 32px;
    height: 17px;
    color: #FFFFFF;
    /* border: 1px solid red; */
}

#login {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    /* width: 97px;
    height: 17px; */
    color: #FFFFFF;
    /* border: 1px solid blue; */
}

#coverquote {
    width: 629px;
    height: 73px;
    position: absolute;
    top: 267px;
    left: 405px;
    font-family: DM Serif Text;
    font-size: 48px;
    font-weight: 400;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}


#locationandsearchcont {
    width: 709px;
    height: 48px;
    position: absolute;
    top: 355px;
    left: 365px;
    display: flex;
    justify-content: space-between;
}

#location {
    width: 155px;
    height: 48px;
    border-radius: 10px;
    background: white;
}

#childlocationcontainer {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 121px;
    height: 25.226890563964844px;
    top: 11px;
    left: 17px;


}

#country {
    width: 38px;
    /* position: absolute; */
    height: 25.226890563964844px;
    top: 11px;
    left: 17px;

}

#weblocation {
    width: 68px;
    height: 17px;
    /* position: absolute; */
    top: 15px;
    left: 70px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #757575;
}

#search {

    width: 534px;
    height: 48px;
    left: 175px;
    border-radius: 10px;
}


#childsearch {

    width: 534px;
    height: 48px;
    left: 175px;
    border-radius: 10px;
    background: #FFFFFF;

}

#insidesearch {
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
    width: 163px;
    height: 24px;
    top: 12px;
    left: 201px;

}

#placeholder {
    width: 121px;
    height: 17px;
    position: absolute;
    top: 16px;
    left: 243px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #979797;
}

#vector {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 12px;
    left: 201px;
    padding: 3px 3.3999996185302734px 3.424999237060547px 3px;
}


#vectorimg {
    width: 17.600000381469727px;
    height: 17.575000762939453px;
    position: absolute;
    top: 3px;
    left: 3px;
    color: #444444;
}

#frame2 {
    display: flex;
    position: absolute;
    width: Hug (310px);
    height: Hug (15px);
    top: 418px;
    left: 550px;
    gap: 20px;
}

#exercisebike {
    width: 89px;
    height: 15px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

#tradmill {
    width: 80px;
    height: 15px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

#chestpress {
    width: 101px;
    height: 15px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

#gps {
    width: 257px;
    height: 103px;
    position: absolute;
    top: 409px;
    left: 369px;
    border-radius: 10px;
    border: 1px solid #BBBBBB;
    background: #FFFFFF;
    box-shadow: 4px 2px 10px 0px #00000040;
}

#currentlocationtext {
    width: 80px;
    height: 12px;
    position: absolute;
    top: 416px;
    left: 404px;
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #757575;
}

#detectusinggpstext {
    width: 85px;
    height: 12px;
    position: absolute;
    top: 416px;
    left: 529px;
    font-family: Inter;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #4179EA;
}

#search2 {
    width: 236px;
    height: Hug (44px);
    position: absolute;
    top: 453px;
    left: 382px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 10px; */
    border-radius: 5px;
    border: 1px;
    gap: 18px;
    /* angle: 0 deg */
    /* background-image: linear-gradient(0deg, #BBBBBB, #BBBBBB),
        linear-gradient(0deg, #FFFFFF, #FFFFFF); */
    border: 1px solid #BBBBBB
}

#searchiconwebcont {
    width: 24px;
    height: 24px;
    padding: 3px 3.3999996185302734px 3.424999237060547px 3px;
    /* angle: 0 deg */
}

#searchiconweb {
    width: 17.600000381469727px;
    height: 17.575000762939453px;
    /* position: absolute; */
    top: 3px;
    left: 3px;
}

#searchforcitytext {
    width: 99px;
    height: 17px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #979797;
}

#outerservicecontainer {
    width: 1070px;
    height: 263px;
    position: absolute;
    top: 522px;
    left: 185px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 61px 0px #0000002E;
}

#servicelayer1 {
    width: 861px;
    height: 77px;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    top: 32px;
    left: 104px;
}

.st {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #212121;
}

#service11 {
    width: 132px;
    height: 74px;
    top: 35px;
    left: 104px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#ac {
    width: 32px;
    height: 32px;
    top: 35px;
    left: 154px;
}

#service11desc {
    width: 132px;
    height: 17px;
    top: 92px;
    left: 104px;
}

#service12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 47px;
    height: 74px;
    top: 35px;
    left: 286px;
}

#new {
    width: 32px;
    height: 32px;
    top: 35px;
    left: 293px;
}

#service12desc {
    width: 47px;
    height: 17px;
    top: 92px;
    left: 286px;
}

#service13 {
    width: 69px;
    height: 74px;
    top: 35px;
    left: 383px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#electric {
    width: 32px;
    height: 32px;
    top: 35px;
    left: 400px;
}

#service13desc {
    width: 69px;
    height: 17px;
    top: 92px;
    left: 383px;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#service14 {
    width: 92px;
    height: 74px;
    top: 35px;
    left: 502px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#salon {
    width: 32px;
    height: 32px;
    top: 35px;
    left: 516px;
}

#service14desc {
    width: 92px;
    height: 17px;
    top: 92px;
    left: 502px;
}

#service15 {
    width: 115px;
    height: 74px;
    top: 35px;
    left: 644px;
}

#massage {
    width: 32px;
    height: 32px;
    top: 35px;
    left: 516px;
}

#service15desc {
    width: 115px;
    height: 17px;
    top: 92px;
    left: 644px;
}

#service16 {
    width: 51px;
    height: 74px;
    top: 32px;
    left: 809px;
}

#car {
    width: 32px;
    height: 32px;
    top: 32px;
    left: 818px;
}

#service16desc {
    width: 51px;
    height: 17px;
    top: 89px;
    left: 809px;
}

#service17 {
    width: 55px;
    height: 74px;
    top: 32px;
    left: 910px;
}

#plumber {
    width: 32px;
    height: 32px;
    top: 32px;
    left: 921px;
}

#service17desc {
    width: 55px;
    height: 17px;
    top: 89px;
    left: 910px;
}

#servicelayer2 {
    width: 708px;
    height: 77px;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    top: 165px;
    left: 181px;
}

#service21 {
    width: 112px;
    height: 74px;
    top: 168px;
    left: 181px;
}

#service21desc {
    width: 112px;
    height: 17px;
    top: 225px;
    left: 181px;
}

#service22 {
    width: 54px;
    height: 74px;
    top: 168px;
    left: 343px;
}

#service22desc {
    width: 54px;
    height: 17px;
    top: 225px;
    left: 343px;
}

#service23 {
    width: 104px;
    height: 74px;
    top: 168px;
    left: 447px;
}

#service23desc {
    width: 104px;
    height: 17px;
    top: 225px;
    left: 447px;

}

#service24 {
    width: 48px;
    height: 74px;
    top: 168px;
    left: 601px;
}

#service24desc {
    width: 48px;
    height: 17px;
    top: 225px;
    left: 601px;
}

#service25 {
    width: 85px;
    height: 74px;
    top: 168px;
    left: 699px;
}

#service25desc {
    width: 85px;
    height: 17px;
    top: 225px;
    left: 699px;
}

#service26 {
    width: 55px;
    height: 74px;
    top: 165px;
    left: 834px;
}

#service26desc {
    width: 55px;
    height: 17px;
    top: 222px;
    left: 834px;
}

#bookingcontainer {
    width: 1440px;
    height: 226px;
    position: absolute;
    top: 836px;
    left: -3px;
}

#bookingcontainertopborder {
    width: 1440px;
    height: 4px;
    margin: auto;
    position: absolute;
    /* border: 1px solid red; */
    top: 836px;
    left: -3px;
    background: #D9D9D9;
}

#frame4 {
    width: Hug (1, 241px);
    height: Hug (172px);
    position: absolute;
    margin: auto;
    top: 890px;
    left: 97px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    /* border: 1px solid red; */
}

#firstbooking {
    width: 295px;
    height: 172px;
}

.rectangle61 {
    width: 295px;
    height: 172px;
    border-radius: 10px;
    background: #B61575;
}

#cardio {
    width: 155px;
    height: 172px;
    position: absolute;
    left: 140px;
    border-radius: 0px 9px 9px 0px;
}

#bookingbtn1 {
    width: 92px;
    height: 31px;
    position: absolute;
    top: 117px;
    left: 19px;
    border-radius: 5px;
    background: #7C0D51;

}

#booknowtext1 {
    width: 76px;
    height: 19px;
    position: absolute;
    top: 123px;
    left: 27px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

#service1 {
    position: absolute;
    width: 123px;
    height: 57px;
    top: 28px;
    left: 17px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.rectangle62 {
    width: 295px;
    height: 172px;
    border-radius: 10px;
    background: #07767D;

}

#cycling {
    width: 163px;
    height: 172px;
    position: absolute;
    left: 448px;
    border-radius: 0px 9px 9px 0px;
}

#bookingbtn2 {
    width: 92px;
    height: 31px;
    position: absolute;
    top: 117px;
    left: 334px;
    border-radius: 5px;
    background: #055055;
}

#booknowtext2 {
    width: 76px;
    height: 19px;
    position: absolute;
    color: #FFFFFF;
    top: 123px;
    left: 342px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

#service2 {
    width: 96px;
    height: 57px;
    position: absolute;
    top: 28px;
    left: 332px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.rectangle63 {
    width: 295px;
    height: 172px;
    border-radius: 10px;
    background: #8D9E2C;
}

#machine {
    width: 177px;
    height: 171px;
    position: absolute;
    left: 749px;
    border-radius: 0px 9px 9px 0px;
}

#bookingbtn3 {
    width: 92px;
    height: 31px;
    position: absolute;
    top: 117px;
    left: 648px;
    border-radius: 5px;
    background: #616C20;
}

#booknowtext3 {
    width: 76px;
    height: 19px;
    position: absolute;
    top: 123px;
    left: 656px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

#service3 {
    width: 99px;
    height: 100px;
    position: absolute;
    top: 26px;
    left: 646px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

#beautyservice {
    width: 40px;
    height: 15px;
    position: absolute;
    top: 77px;
    left: 647px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.rectangle64 {
    width: 295px;
    height: 172px;
    /* position: absolute;
    left: 946px; */
    border-radius: 10px;
    background: #0073C3;
}

#women {
    width: 153px;
    height: 172px;
    position: absolute;
    left: 1088px;
    border-radius: 0px 9px 9px 0px;
}

#bookingbtn4 {
    position: absolute;
    width: 92px;
    height: 31px;
    top: 117px;
    left: 967px;
    border-radius: 5px;
    background: #004D85;
}

#booknowtext4 {
    width: 76px;
    height: 19px;
    position: absolute;
    top: 123px;
    left: 975px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

#service4 {
    width: 117px;
    height: 38px;
    position: absolute;
    top: 28px;
    left: 963px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

#haircutservice {
    width: 123px;
    height: 15px;
    position: absolute;
    top: 78px;
    left: 966px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

#exercisecontainertopboundary {
    width: 1440px;
    height: 4px;
    position: absolute;
    top: 1134px;
    background: #D9D9D9;
}

#newcategoryheading {
    width: 610px;
    height: 58px;
    position: absolute;
    top: 1165px;
    left: 415px;
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
}

#category1 {
    width: 399px;
    height: 224.25px;
    position: absolute;
    top: 1273px;
    left: 99px;
}

.cat1type {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

}

#cat1text1 {
    width: 128px;
    height: 17px;
    position: absolute;
    top: 1528px;
    left: 234px;
}

.cat2type {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

#cat1text2 {
    width: 160px;
    height: 17px;
    position: absolute;
    top: 1555px;
    left: 218px;
}

#category2 {
    width: 399px;
    height: 224.25px;
    position: absolute;
    top: 1273px;
    left: 520px;
}

#cat2text1 {
    width: 73px;
    height: 17px;
    position: absolute;
    top: 1528px;
    left: 683px;
}

#cat2text2 {
    width: 83px;
    height: 17px;
    position: absolute;
    top: 1555px;
    left: 678px;
}

#category3 {
    width: 399px;
    height: 224.25px;
    position: absolute;
    top: 1273px;
    left: 939px;
}

#cat3text1 {
    width: 123px;
    height: 17px;
    position: absolute;
    top: 1528px;
    left: 1077px;
}

#hostelcontainertopboundary {
    width: 1440px;
    height: 4px;
    position: absolute;
    top: 1644px;
    left: -2px;
    background: #D9D9D9;
}

.headingtypo {
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
}

#hostelserviceheading {
    width: 338px;
    height: 58px;
    position: absolute;
    top: 1698px;
    left: 549px;
}

#hostelservicescont {
    width: Hug (1, 239px);
    height: Hug (299px);
    position: absolute;
    top: 1806px;
    left: 97px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 21px;
}

#hs1 {
    width: 399px;
    height: 299px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#hs2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 399px;
    height: 299px;
}

#hs3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 399px;
    height: 299px;
}

#appliancecontainertopboundary {
    width: 1440px;
    height: 4px;
    position: absolute;
    top: 2176px;
    background: #D9D9D9;
}

#applianceheading {
    width: 260px;
    height: 58px;
    position: absolute;
    top: 2230px;
    left: 589px;
}

#appliancesubheading {
    width: 679px;
    height: 39px;
    position: absolute;
    top: 2297px;
    left: 379px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    color: #727272;
}

#appliancecont {
    width: Hug (1, 239px);
    height: Hug (299px);
    position: absolute;
    top: 2387px;
    left: 99px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 21px;
}

#appliancecont div {
    width: 399px;
    height: 299px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#homerepaircontainertopboundary {
    width: 1440px;
    height: 4px;
    position: absolute;
    top: 2736px;
    background: #D9D9D9;
}

#homerepairheading {
    width: 297px;
    height: 58px;
    position: absolute;
    top: 2790px;
    left: 571px;
}

#homerepairsubheading {
    width: 824px;
    height: 39px;
    position: absolute;
    top: 2857px;
    left: 306px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    color: #727272;
}

#homerepaircont {
    width: Hug (1, 243px);
    height: Hug (212.8px);
    position: absolute;
    top: 2947px;
    left: 99px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 21px;
}

#homerepaircont div {
    width: 295px;
    height: 212.798828125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#cleaningtopboundary {
    width: 1440px;
    height: 4px;
    position: absolute;
    top: 3209.798828125px;
    left: -2px;
    background: #D9D9D9;
}

#cleaningheading {
    width: 549px;
    height: 58px;
    position: absolute;
    top: 3263.798828125px;
    left: 445px;
}

#cleaningcont {
    width: Hug (1, 243px);
    height: Hug (212.8px);
    position: absolute;
    top: 3371.798828125px;
    left: 99px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 21px;
}

#cleaningcont div {
    width: 295px;
    height: 212.798828125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#addservicestopboundary {
    width: 1440px;
    height: 4px;
    position: absolute;
    top: 3635px;
    background: #D9D9D9;
}

#addservicesheading {
    width: 304px;
    height: 58px;
    position: absolute;
    top: 3689px;
    left: 569px;
}

.up {
    width: 295px;
    height: 302px;
    position: absolute;
    top: 3794px;
    background: linear-gradient(0deg, #DDDADA, #DDDADA),
        linear-gradient(0deg, #FAFAFA, #FAFAFA);
    border: 0.76px solid #DDDADA;
    /* border-radius: 10px; */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.down {
    width: 295px;
    height: 302px;
    position: absolute;
    top: 4126px;
    background: linear-gradient(0deg, #DDDADA, #DDDADA),
        linear-gradient(0deg, #FAFAFA, #FAFAFA);
    border: 0.76px solid #DDDADA;
    /* border-radius: 10px; */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.servimg {
    width: 264.587646484375px;
    height: 179.4329833984375px;
    position: absolute;
    top: 10.6444091796875px;
    left: 15.2061767578125px;
    border-radius: 10.644328117370605px;
}

.ratingdiv {
    width: 89.71649169921875px;
    height: 27.37113380432129px;
    position: absolute;
    top: 149.0206298828125px;
    left: 188.55670166015625px;
    background: #D9D9D9BF;
}

.rating {
    width: 63px;
    height: 25px;
    position: absolute;
    top: 150.541259765625px;
    left: 209.84536743164062px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: center;
    color: white;
}

.star {
    width: 16.726804733276367px;
    height: 15.17587947845459px;
    position: absolute;
    top: 154.7940673828125px;
    left: 191.59796142578125px;
    background: linear-gradient(90deg, #FFD708 52.49%, #FFFFFF 52.49%);
}

.line1 {
    width: 75px;
    height: 25px;
    position: absolute;
    top: 196.1597900390625px;
    left: 19.2474365234375px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #353638;
}

.line2 {
    width: 142px;
    height: 25px;
    position: absolute;
    top: 218.9691162109375px;
    left: 19.2474365234375px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #353638;
}

.dollar {
    width: 38px;
    height: 25px;
    position: absolute;
    top: 206.8040771484375px;
    left: 225.05154418945312px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #F47B20;
}

.bottombtn {
    width: 295px;
    height: 41.70103073120117px;
    position: absolute;
    top: 252.6031494140625px;
    background: #F47B20;
    text-align: center;
    color: white;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.01em;
    padding-top: 4%;
    /* border-radius: 10px; */
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.addtofav {
    width: 153px;
    height: 25px;
    position: absolute;
    top: 304.587646484375px;
    left: 70.94842529296875px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: center;
    color: white;
}

#one {
    left: 100px;
}

#two {
    left: 415px;
}

#three {
    left: 730px;
}

#four {
    left: 1045px;
}

#five {
    left: 100px;
}

#six {
    left: 415px;
}

#seven {
    left: 730px;
}

#eight {
    left: 1045px;
}

#footer {
    width: 1440px;
    height: 412px;
    position: absolute;
    top: 4525px;
    background: #5B5B5B;
}

#bottomlogo {
    width: 305px;
    height: 140px;
    position: absolute;
    top: 73px;
    left: 55px;
}

#googleplay {
    width: 198px;
    height: 66px;
    position: absolute;
    top: 60px;
    left: 1164px;
}

#applestore {
    width: 198px;
    height: 66px;
    position: absolute;
    top: 136.62060546875px;
    left: 1164px;
}

#copyright {
    width: 293px;
    height: 17px;
    position: absolute;
    top: 342px;
    left: 560px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

#servicebottom {
    width: 59px;
    height: 19px;
    position: absolute;
    top: 51px;
    left: 457px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.bottomleft {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    width: 112px;
    height: 17px;
    position: absolute;
    left: 457px;
}

.bottomright {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    width: 112px;
    height: 17px;
    position: absolute;
    left: 795px;
}

#app {
    top: 86px;
}

#homep {
    top: 113px;
}

#cp {
    top: 140px;
}

#dis {
    top: 167px;
}

#hr {
    top: 194px;
}

#au {
    top: 70px;
}

#pp {
    top: 97px;
}

#tc {
    top: 124px;
}

#cu {
    top: 151px;
}

#lg {
    top: 178px;
}


/* Small screen css */

#mobileview {
    width: 428px;
    height: 1688px;
    /* position: absolute; */
    top: -2366px;
    left: 973px;
    border-radius: 30px;
    background: #FFFFFF;
    box-shadow: -30px 30px 23px 25px #00000040;
}

#userimage {
    width: 62px;
    height: 62px;
    position: absolute;
    top: 58px;
    left: 16px;
    box-shadow: 0px 0px 4px 0px rgba(254, 67, 108, 0.51);
    border-radius: 100%;
}

#goodmorning {
    width: 101px;
    height: 16px;
    position: absolute;
    top: 70px;
    left: 98px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: center;
    color: rgba(53, 54, 56, 1);
}

#locationcont {
    width: 24px;
    height: 22px;
    position: absolute;
    top: 90px;
    left: 93px;
    padding: 1.8333333730697632px 3.5px 1.8333345651626587px 3.5px
}

#locationicon {
    width: 17px;
    height: 18.333332061767578px;
    position: absolute;
    top: 1.83331298828125px;
    left: 3.5px;
    /* background: #F47B20; */
}

#location {
    width: 90px;
    height: 16px;
    position: absolute;
    top: 96px;
    left: 118px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    color: rgba(151, 151, 151, 1);
}

#belliconcont {
    width: Hug (56px);
    height: Hug (24.11px);
    position: absolute;
    top: 78px;
    left: 334px;
    gap: 8px
}

#empty {
    width: 21px;
    height: 18px;
    padding: 2px 3px 6px 1px
}

#bellicon {
    width: 24px;
    height: 24.108596801757812px;
    padding: 2.009049654006958px 3.5px 2.0090510845184326px 3.5px
}

#searchboxmobile {
    width: 396px;
    height: 44px;
    position: absolute;
    top: 142px;
    left: 16px;
    border-radius: 12px;
    background: rgba(245, 245, 245, 0.99);
}

#searchmobile {
    width: 54px;
    height: 19px;
    position: absolute;
    top: 152px;
    left: 79px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(173, 164, 165, 1);
}

#searchiconcontmobile {
    width: 23px;
    height: 19.347721099853516px;
    position: absolute;
    top: 154.8631591796875px;
    left: 35px;
    padding: 2.2395246028900146px 2.3552629947662354px 1.6123106479644775px 2.662280797958374px;
}

#searchiconmobile {
    width: 17.98245620727539px;
    height: 15.495885848999023px;
    top: 2.239501953125px;
    left: 2.66229248046875px;
    border: 1.5px;
    /* border: 1.5px solid rgba(173, 164, 165, 1) */
}

#settingiconcontmobile {
    width: 24px;
    height: 24.108596801757812px;
    position: absolute;
    top: 152px;
    left: 370px;
    padding: 4.52036190032959px 4px 5.123077392578125px 4px;
}

#settingicon {
    width: 16px;
    height: 14.465157508850098px;
    /* position: absolute; */
    top: 4.520263671875px;
    left: 20px;
    border: 1.5px;

}

#mobilebanner {
    width: 381px;
    height: 166px;
    position: absolute;
    top: 206px;
    left: 23px;
}

#mobilebannerinner {
    width: 381px;
    height: 166px;
    border-radius: 12px;
    background: rgba(108, 146, 224, 1);
}

#mobileserviceheading {
    width: 151px;
    height: 35px;
    position: absolute;
    top: 23px;
    left: 18px;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: center;
    color: white;
}

#mobileservicesubheading {
    width: 158px;
    height: 16px;
    position: absolute;
    top: 70px;
    left: 10px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: center;
    color: white;
}

#mobileservice {
    width: 148px;
    height: 32px;
    position: absolute;
    top: 98px;
    left: 18px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

#womanbarbell {
    width: 123px;
    height: 147px;
    position: absolute;
    top: 5px;
    left: 242px;
    border-radius: 12px;
    box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.21);
}

#bannernavigation {
    width: 46px;
    height: 6px;
    position: absolute;
    top: 378px;
    left: 189px;
}

#nav1 {
    width: 6px;
    height: 6px;
    /* position: absolute; */
    top: 378px;
    left: 189px;
    background: rgba(236, 47, 7, 1);
    border-radius: 100%;
}

#nav2 {
    width: 6px;
    height: 6px;
    top: 378px;
    left: 209px;
    opacity: 20%;
    border-radius: 100%;
    background: rgba(236, 47, 7, 1);
}

#nav3 {
    background: rgba(236, 47, 7, 1);
    width: 6px;
    height: 6px;
    top: 378px;
    left: 229px;
    border-radius: 100%;
    opacity: 20%;
}

#serviceiconcont {
    width: 381px;
    height: 190px;
    position: absolute;
    top: 414px;
    left: 23px;
    border-radius: 12px;
    border: 0.5px;
    /* background: linear-gradient(0deg, #C4C4C4, #C4C4C4), */
    /* linear-gradient(0deg, #FFFFFF, #FFFFFF); */
    border: 0.5px solid #C4C4C4;
    box-shadow: 1px 2px 4px 0px #0000000F;
}

#orangeheading {
    width: 381px;
    height: 36px;
    position: absolute;
    top: 414px;
    left: 23px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #F47B20;
}

#serviceorange {
    width: 62px;
    height: 16px;
    position: absolute;
    top: 427px;
    left: 38px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: center;
    color: white;
}

#seeallorange {
    width: 50px;
    height: 16px;
    position: absolute;
    top: 427px;
    left: 341px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: center;
    color: white;
}

#acont {
    width: 39px;
    height: 26px;
    position: absolute;
    top: 472px;
    left: 53px;
    background: white;
}

#a {
    width: 32.90625px;
    height: 13.40625px;
    position: absolute;
    top: 6.5px;
    left: 3.046875px;
    /* background: linear-gradient(180deg, rgba(255, 163, 95, 0.77) 33.65%, #EC2F07 100%); */
}

#b {
    position: absolute;
    width: 26.25px;
    height: 29.31098175048828px;
}

#c {
    position: absolute;
    width: 22.5px;
    height: 28.126434326171875px;
    top: 0.9375px;
    left: 8px;
}

#d {
    position: absolute;
    width: 18.17877197265625px;
    height: 27.1954288482666px;
    left: 15px;

}

#e {
    position: absolute;
    width: 25.53093719482422px;
    height: 18.516796112060547px;
    left: 13px;

}

#z {
    position: absolute;
    width: 28.46411895751953px;
    height: 11.869176864624023px;
    top: 11.07958984375px;
    left: 13px;
}

#f {
    position: absolute;
    width: 12px;
    height: 31px;
    border: 0.8999999761581421px;
    left: 15px;
}

#g {
    position: absolute;
    width: 16.408124923706055px;
    height: 30.00046730041504px;
    left: 19px;
}

#h {
    position: absolute;
    width: 27.906978607177734px;
    height: 30px;
}

#y {
    position: absolute;
    width: 22.32465171813965px;
    height: 25.550390243530273px;
    top: 4.4495849609375px;
    left: 7.4427490234375px;
}

#x {
    position: absolute;
    width: 7.441861152648926px;
    height: 7.734374046325684p;
    top: 13.3577880859375px;
    left: 14.8841552734375px;
}

.typo {
    font-family: Poppins;
    font-size: 11px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: center;
}

.absolute {
    position: absolute;
}

#aname {
    width: 53px;
    height: 11px;
    position: absolute;
    top: 506px;
    left: 46px;
}

#bcont {
    position: absolute;
    width: 30px;
    height: 22.5px;
    top: 472px;
    left: 150px;
    padding: 0px 1.875px 0.47283172607421875px 1.875px
}

#ccont {
    position: absolute;
    width: 38px;
    height: 49px;
    top: 468px;
    left: 243px;
}

#dcont {
    position: absolute;
    width: 49px;
    height: 48px;
    top: 469px;
    left: 337px;
}

#econt {
    position: absolute;
    width: 49px;
    height: 41.47393798828125px;
    top: 542.526123046875px;
    left: 45px;
}

#fcont {
    position: absolute;
    width: 42px;
    height: 46px;
    top: 538px;
    left: 144px;
}

#gcont {
    position: absolute;
    width: 58px;
    height: 45px;
    top: 539px;
    left: 233px;
}

#hcont {
    position: absolute;
    width: 43px;
    height: 45px;
    top: 539px;
    left: 338px;
}



#bname {
    width: 55px;
    height: 16px;
    position: absolute;
    top: 506px;
    left: 138px;
}

#cname {
    position: absolute;
    width: 38px;
    height: 16px;
    top: 506px;
    left: 243px;
}

#dname {
    position: absolute;
    width: 49px;
    height: 16px;
    top: 501px;
    left: 337px;
}

#ename {
    position: absolute;
    width: 49px;
    height: 16px;
    top: 568px;
    left: 45px;
}

#fname {
    position: absolute;
    width: 42px;
    height: 16px;
    top: 568px;
    left: 144px;
}

#gname {
    position: absolute;
    width: 58px;
    height: 16px;
    top: 568px;
    left: 233px;
}

#hname {
    position: absolute;
    width: 43px;
    height: 16px;
    top: 568px;
    left: 338px;
}

/* #ccont {} */

#hostelserve {
    width: 115px;
    height: 19px;
    top: 634px;
    left: 28px;
    position: absolute;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #353638;
}

#mobileroom1 {
    width: 381px;
    height: 134px;
    top: 673px;
    left: 23px;
    position: absolute;
    background: #6C92E0;
    border-radius: 12px;
}

#mobileroom2 {
    width: 381px;
    height: 134px;
    position: absolute;
    top: 817px;
    left: 23px;
    border-radius: 12px;
    background: #6C92E0;
}

#mobileroom3 {
    width: 381px;
    height: 134px;
    position: absolute;
    top: 961px;
    left: 23px;
    border-radius: 12px;
    background: #6C92E0;
}

.mobileroomimg {
    width: 123px;
    height: 101px;
    top: 17px;
    left: 242px;
    border-radius: 12px;
    position: absolute;
    box-shadow: 3px 4px 4px 0px #00000036;
}

.mobileroomtype {
    width: 124px;
    height: 16px;
    position: absolute;
    top: 17px;
    left: 18px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: center;
    color: white;
}

.mobileroomdesc {
    width: 213px;
    height: 48px;
    position: absolute;
    top: 41px;
    left: 18px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: left;
    color: white;
}

.mobileroomprice {
    width: 45px;
    height: 17px;
    position: absolute;
    top: 101px;
    left: 18px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

#mobilenavcont {
    width: 428px;
    height: 55px;
    position: absolute;
    top: 1614px;
    padding: 8px 29.944000244140625px 8px 36.5439453125px;
    border-radius: 0px 0px 30px 30px;
    background: #FFFFFF;
    box-shadow: 0px -1px 3px 0px #FE436C;
}

#mobilenavinnercont {
    width: 361.5120544433594px;
    height: 39px;
    position: absolute;
    top: 8px;
    left: 36.5439453125px;
    display: flex;
    justify-content: space-between;
}


#homeicon {
    width: 24px;
    height: 24.108596801757812px;
    position: absolute;
    top: 8px;
    left: 50px;
    padding: 2.009049654006958px 2.5px 2.0090510845184326px 2.5px;
}

#hometext {
    width: 51.3599967956543px;
    height: 11px;
    position: absolute;
    top: 34px;
    left: 38.5439453125px;
    font-family: Inter;
    font-size: 9px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: center;
}

#bookingicon {
    width: 24px;
    height: 24.108596801757812px;
    position: absolute;
    top: 8px;
    left: 152px;
    padding: 2.511312246322632px 3px 3.013237237930298px 3px;
}

#bookingicontext {
    width: 51.3599967956543px;
    height: 11px;
    position: absolute;
    top: 34px;
    left: 142px;
    font-family: Inter;
    font-size: 9px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: center;
}

#cart {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 11px;
    left: 251px;
    padding: 0px 2.2799606323242188px 2.8914031982421875px 1.5400390625px;
}

#carttext {
    width: 22px;
    height: 16px;
    position: absolute;
    top: 34px;
    left: 256px;
    font-family: Inter;
    font-size: 8px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: center;
}

#profileicon {
    width: 24px;
    height: 24.108596801757812px;
    position: absolute;
    top: 8px;
    left: 354px;
    padding: 2.8272111415863037px 4.845714569091797px 2.7921011447906494px 4.814286231994629px;
}

#profiletext {
    width: 65.05599975585938px;
    height: 11px;
    position: absolute;
    top: 34px;
    left: 340px;
    font-family: Inter;
    font-size: 8px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: center;
}

#addserve {
    width: 105px;
    height: 19px;
    position: absolute;
    top: 1125px;
    left: 28px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #353638;
}

#mobserve1 {
    width: 194px;
    height: 199px;
    position: absolute;
    top: 1164px;
    left: 16px;
}

#mobserve2 {
    width: 194px;
    height: 199px;
    position: absolute;
    top: 1164px;
    left: 218px;
}

#mobserve3 {
    width: 194px;
    height: 199px;
    position: absolute;
    top: 1380px;
    left: 16px;
}

#mobserve4 {
    width: 194px;
    height: 199px;
    position: absolute;
    top: 1380px;
    left: 218px;
}

.serveimgmob {
    width: 174px;
    height: 118px;
    position: absolute;
    top: 7px;
    left: 10px;
    border-radius: 7px;
}

.ratediv {
    width: 59px;
    height: 18px;
    position: absolute;
    top: 98px;
    left: 124px;
    background: #D9D9D9BF;
}

.graydiv {
    width: 194px;
    height: 165px;
    border: 0.5px;
    background: linear-gradient(0deg, #DDDADA, #DDDADA),
        linear-gradient(0deg, #FAFAFA, #FAFAFA);
    border: 0.5px solid #DDDADA;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sent1 {
    width: 52px;
    height: 16px;
    position: absolute;
    top: 129px;
    left: 12px;
    font-family: Poppins;
    font-size: 11px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #353638;
}

.sent2 {
    width: 95px;
    height: 16px;
    position: absolute;
    top: 144px;
    left: 12px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #353638;
}

.amount {
    width: 25px;
    height: 16px;
    position: absolute;
    top: 136px;
    left: 148px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #F47B20;
}

.rate {
    width: 42px;
    height: 16px;
    position: absolute;
    top: 99px;
    left: 138px;
    font-family: Poppins;
    font-size: 8px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: center;
    color: white;
}

.lilstar {
    width: 11px;
    height: 10px;
    /* position: absolute; */
    top: 102px;
    left: 126px;
    background: linear-gradient(90deg, #FFD708 52.49%, #FFFFFF 52.49%);
}

.addtofavbtn {
    width: 194px;
    height: 24px;
    top: 159px;
    position: absolute;
    background: #F47B20;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: center;
    color: white;
    padding-top: 4%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media only screen and (max-width: 428px) {
    #webcontainer {
        display: none;
    }

    #mobileview {
        display: block;
    }
}

@media only screen and (min-width: 429px) {

    #mobileview {
        display: none;
    }
}